@import url('https://fonts.googleapis.com/css2?family=Charis+SIL&display=swap');

@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);

* {
    margin: 0;
    padding: 0;    
}

body,
html {
    width: 100vw;
    height: 100vh;
    background-color: black;
    font-family: 'Charis SIL', serif;
}

.borda_fora {
    border: 4px solid blueviolet;
    padding: 1px;
}

.borda_dentro {
    border: 2px solid gold;
}

.container_header {
    width: 100%;
    display: flex;
    margin-bottom: 200px;
}

.titulo_pagina{
    position: absolute;
    margin-left: 30px;
    font-size: 40px;
    font-weight: 800;
    color: aliceblue;
}

.fundo {
    position: absolute;
    background-color: blueviolet;
    padding: 180px;
    border-radius: 10px 25px 80px 100px;
    transform: rotate(35deg);
    top: -100px;
    left: -18px;
    
}

ul {
    position: absolute;
    left: 1200px;
    display: flex;
    justify-content: center;
    

}

li {
    margin: 20px;
    list-style-type: none;
    color: aliceblue;
    z-index: 9999;

}

.sobre {
    text-decoration: none;
    z-index: 9999;
    border-radius: 12px;
}

.sobre:hover {
    background-color: rgb(40, 13, 65);
}

.container_saudacao {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 150px;
}

.saudacao {
    display: flex;
    font-size: 25px;
    margin-left: 25px;
    width: 25%;
    color: aliceblue;
}

.detalhes_saudacao {
    position: relative;
    display: flex;
    font-size: large;
    right: 340px;
    top: 28px;
    margin-top: 2.5px;
    /* color: aliceblue; */
    color: green;
    animation: neon 1s ease-in-out infinite alternate;
}

@keyframes neon {
    from {
        text-shadow: 0 0 35px #85FF64,
                     0 0 40px #2BBF03,
                     0 0 55px #141ae2;
    }
}

.sobre_mim {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 180px;
}

.titulo_apresentacao{
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    color: aliceblue;
}

.detalhes_apresentacao{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 40px;
    width: 30%;
    color: aliceblue;
}

.container_projetos {
    display: flex;
    justify-content: center;
    width: 100%;
}

.projetos {
    display: flex;
    position: absolute;
    color: aliceblue;
    
}

.card_projeto {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 55px 0 80px 20px;
    height: 100%;
    padding: 25px; 
    width: 100%;  
    color: aliceblue;
}

.container_habilidades {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.titulo_habilidades {
    display: flex;
    position: absolute;
    color: aliceblue;
}

.card_habilidades {
    display: flex;
    justify-content: center;
    flex-direction:row;
    color: aliceblue;
     
}

.icon_html {
    display: flex;
    justify-content: center;
    flex-direction:row;
    padding: 20px;
    margin: 55px 0 80px 20px;
    font-weight: 900;
    width: 20%;
    height: 20%;
    color: aliceblue;
    --c: #c17a10; 
    --b: .1em;    
    --d: 20px;    
    
    --_s: calc(var(--d) + var(--b));
    
    color: var(--c);
    border: solid #0000;
    border-width: var(--b) var(--b) var(--_s) var(--_s);
    background:
        conic-gradient(at left var(--d)  bottom var(--d),
        #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
        conic-gradient(at left var(--_s) bottom var(--_s),
        #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
    transform: translate(calc(var(--d)/-1),var(--d));
    clip-path: 
        polygon(
        var(--d) 0%, 
        var(--d) 0%, 
        100% 0%, 
        100% calc(100% - var(--d)),
        100% calc(100% - var(--d)),
        var(--d) calc(100% - var(--d))
        );
    transition: 0.5s;
}

.icon_html:hover{
    transform: translate(0,0);
    clip-path: 
      polygon(
       0% var(--d), 
       var(--d) 0%, 
       100% 0%, 
       100% calc(100% - var(--d)), 
       calc(100% - var(--d)) 100%, 
       0% 100%
     );
  }
  

  .icon_css {
    display: flex;
    justify-content: center;
    flex-direction:row;
    padding: 20px;
    margin: 55px 0 80px 20px;
    font-weight: 900;
    width: 20%;
    height: 20%;
    color: aliceblue;
    --c: #1095c1; 
    --b: .1em;    
    --d: 20px;    
    
    --_s: calc(var(--d) + var(--b));
    
    color: var(--c);
    border: solid #0000;
    border-width: var(--b) var(--b) var(--_s) var(--_s);
    background:
        conic-gradient(at left var(--d)  bottom var(--d),
        #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
        conic-gradient(at left var(--_s) bottom var(--_s),
        #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
    transform: translate(calc(var(--d)/-1),var(--d));
    clip-path: 
        polygon(
        var(--d) 0%, 
        var(--d) 0%, 
        100% 0%, 
        100% calc(100% - var(--d)),
        100% calc(100% - var(--d)),
        var(--d) calc(100% - var(--d))
        );
    transition: 0.5s;
}

.icon_css:hover{
    transform: translate(0,0);
    clip-path: 
      polygon(
       0% var(--d), 
       var(--d) 0%, 
       100% 0%, 
       100% calc(100% - var(--d)), 
       calc(100% - var(--d)) 100%, 
       0% 100%
     );
  }
  

  .icon_js {
    display: flex;
    justify-content: center;
    flex-direction:row;
    padding: 20px;
    margin: 55px 0 80px 20px;
    font-weight: 900;
    width: 20%;
    height: 20%;
    color: aliceblue;
    --c: #c1be10; 
    --b: .1em;    
    --d: 20px;    
    
    --_s: calc(var(--d) + var(--b));
    
    color: var(--c);
    border: solid #0000;
    border-width: var(--b) var(--b) var(--_s) var(--_s);
    background:
        conic-gradient(at left var(--d)  bottom var(--d),
        #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
        conic-gradient(at left var(--_s) bottom var(--_s),
        #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
    transform: translate(calc(var(--d)/-1),var(--d));
    clip-path: 
        polygon(
        var(--d) 0%, 
        var(--d) 0%, 
        100% 0%, 
        100% calc(100% - var(--d)),
        100% calc(100% - var(--d)),
        var(--d) calc(100% - var(--d))
        );
    transition: 0.5s;
}

.icon_js:hover{
    transform: translate(0,0);
    clip-path: 
      polygon(
       0% var(--d), 
       var(--d) 0%, 
       100% 0%, 
       100% calc(100% - var(--d)), 
       calc(100% - var(--d)) 100%, 
       0% 100%
     );
  }
  

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0px;
    background-color: blueviolet;
}

footer a {
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1px;
    width: 50%; 
    font-weight: 800;
    justify-content: center;
    animation: neon 1s ease-in-out infinite alternate;
}

@keyframes move {
    100% {
        transform: translate(100rem);
    }
}

.wrapper {
    animation: move 10s infinite linear;
}

@keyframes stomp {
    0%,
    70%,
    100% {
        transform: rotate(0);
    }
    60% {
        transform: translateY() rotate(-6deg);
    }
}

.monkey {
    animation: stomp 1s infinite;
    height: 100px;
}


figure.snip0015 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 15px;
    min-width: 380px;
    max-width: 500px;
    max-height: 300px;
    width: 100%;
    background: #000000;
    text-align: center;
  }
  figure.snip0015 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  figure.snip0015 img {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  figure.snip0015 figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3em 3em;
    width: 100%;
    height: 100%;
  }
  figure.snip0015 figcaption::before {
    position: absolute;
    top: 50%;
    right: 30px;
    bottom: 50%;
    left: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
  figure.snip0015 h2,
  figure.snip0015 p {
    margin: 0 0 5px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
  }
  figure.snip0015 h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-transform: translate3d(0%, 50%, 0);
    transform: translate3d(0%, 50%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.snip0015 h2 span {
    font-weight: 800;
  }
  figure.snip0015 p {
    font-weight: 200	;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  figure.snip0015 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
  }
  figure.snip0015:hover img {
    opacity: 0.35;
  }
  figure.snip0015:hover figcaption h2 {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.snip0015:hover figcaption p {
    opacity: 0.9;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
  figure.snip0015:hover figcaption::before {
    background: rgba(255, 255, 255, 0);
    top: 30px;
    bottom: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }