* {
    margin: 0;
    padding: 0;    
}

body,
html {
    width: 100vw;
    height: 100vh;
}

.container_header {
    width: 100%;
    display: flex;
    margin-bottom: 200px;
}

.titulo_pagina{
    position: absolute;
    margin-left: 30px;
    font-size: 40px;
    font-weight: 800;
}


ul {
    position: absolute;
    left: 1200px;
    display: flex;
    justify-content: center;
}

li {
    margin: 20px;
    list-style-type: none;
}

.container_saudacao {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 150px;
}

.saudacao {
    display: flex;
    font-size: 25px;
    margin-left: 25px;
}

.detalhes_saudacao {
    position: relative;
    display: flex;
    right: 320px;
    top: 28px;
}

.sobre_mim {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 180px;
}

.titulo_apresentacao{
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
}

.detalhes_apresentacao{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 40px;
    width: 20%;
}

.container_projetos {
    display: flex;
    justify-content: center;
    width: 100%;
}

.projetos {
    display: flex;
    padding: 0;
}

.card_projeto {
    display: flex;
    justify-content: center;
    flex-direction:row;
    border: 1px solid black;
    padding: 25px;
    margin-top: 55px;
    margin-left: 20px;
    width: 20%;
}
