@import url('https://fonts.googleapis.com/css2?family=Charis+SIL&display=swap');

@import url('https://fonts.googleapis.com/css?family=Raleway:400,200,300,800');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;    
}

body,
html {
    width: 100vw;
    height: 100vh;
    background-color: black;
    font-family: 'Charis SIL', serif;
}

a{
  text-decoration: none;
  color: #2BBF03;
  cursor: pointer;
}

span {
  color: #2BBF03;
  animation: neon 1s ease-in-out infinite alternate;
  font-size: 45px;
  width: 80%; 
}

#saudacao{
  color: aliceblue;
  font-size: 50px;
  width: 80%;
}

.borda_fora {
    border: 4px solid blueviolet;
    padding: 1px;
}

.borda_dentro {
    border: 2px solid gold;
}

.modal_contato {
    background-color: #ffffff50;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
  }

  .modal{
    margin: 1rem;
    width: 50%;
    max-width: 600px;
    height: auto;
    max-height: 600px;
    min-height: 300px;
    background-color: #fff;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .modal_titulo{
    display: flex;
    justify-content: space-between;
    background-color:#280d41 ;
    padding: 1rem;
    color: #2BBF03;
    font-family: 'Kanit', sans-serif;
    font-weight: 800;
    font-size: large;
  }

  .modal_titulo h1 {
    animation: neon 1s ease-in-out infinite alternate;
  }

  .close_modal {
    display: flex;
    position: relative;
    justify-content: space-between;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }

  .modal_corpo {
    padding: 0px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #000000;
  }

  .card_icone {
      display: flex;
      justify-content: center;
      margin: 20px;
      color: #2BBF03;
      animation: neon 1s ease-in-out infinite alternate;
      cursor: pointer;
  }

   #linkedin:hover {
    animation: tremer .2s;
    animation-iteration-count: 4;
    
  }

  #linkedin:hover .legenda_linkedin {
    opacity: 1;
    animation: neon 1s ease-in-out infinite alternate;
  }

  #git:hover {
    animation: tremer .2s;
    animation-iteration-count: 4;
  }

  #git:hover .legenda_git {
    opacity: 1;
    animation: neon 1s ease-in-out infinite alternate;
  }  

  #email:hover {
    animation: tremer .2s;
    animation-iteration-count: 4;
  }

  #email:hover .legenda_email {
    opacity: 1;
    animation: neon 1s ease-in-out infinite alternate;
  }

  #phone:hover {
    animation: tremer .2s;
    animation-iteration-count: 4;
  }

  #phone:hover .legenda_phone {
    opacity: 1;
    animation: neon 1s ease-in-out infinite alternate;
  }

  @keyframes tremer {
    0% {margin-left: 0;}
    25% {margin-left: 7px;}
    50% {margin-left: 0;}
    75% {margin-left: -7px;}
    100% {margin-left: 0;}
}

.img_iconLinkedin {
  position: relative;
  left: 42px;
}

.img_iconGit {
  position: relative;
  left: 20px;
}

  .img_iconEmail{
    position: relative;
    left: 60px;
  }

  .img_iconPhone{
    position: relative;
    left: 32px;
  }

  .legenda_phone {
    opacity: 0;
  }

  .legenda_email {
    opacity: 0;
  }

  .legenda_git {
    opacity: 0;
  }

  .legenda_linkedin {
    opacity: 0;
  }


.container_header {
    width: 100%;
    display: flex;
    margin-bottom: 300px;
    position: fixed;
    z-index: 9998;
}

@keyframes loading {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.imagem_logo{
    position: absolute;
    margin-left: 12px;
    margin-top: 3px;
    max-width: 100px;
    min-width: 50px;
    font-size: 40px;
    font-weight: 800;
    color: rgb(249, 240, 255);
    margin-bottom: 250px; 
}

.imagem_logo:hover {
  animation: loading 2s infinite linear;
}

.container_saudacao {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 300px;
    margin-bottom: 150px;
}

.box_saudacao {
  display: flex;
  justify-content: center;
}


.saudacao {
    display: flex;
    justify-content: flex-end;
    font-size: 50px;
    width: 80%;
    color: aliceblue;
}

@media only screen and (max-width: 280px){
  .saudacao{
    font-size: 25px;
    margin-left: 1rem;
  }
  .modal{
    width: 74%;
  }
  .botoes{
    width: 90%;
    margin-left: 1rem;
  }
  .icon_css{
    padding: 2px;
  }
  .icon_html{
    padding: 2px;
  }
  .icon_js{
    padding: 2px;
  }

  }


.detalhes_saudacao {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 0.2rem 0 1rem 0;
    color: green;
    animation: neon 1s ease-in-out infinite alternate;
}


@keyframes neon {
    from {
        text-shadow: 0 0 35px #85FF64,
                     0 0 40px #2BBF03,
                     0 0 55px #141ae2;
    }
}

.modal_sobre {
  background-color: #ffffff50;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.sobre_mim {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 180px;
}

.titulo_apresentacao{
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    color: green;
    animation: neon 1s ease-in-out infinite alternate;
}

.detalhes_apresentacao{
    display: flex;
    justify-content: center;
    text-align: center;
    text-indent: 10px;
    width: 50%;
    color: aliceblue;
}

.botoes {
  display: flex;
  justify-content: flex-end;
}

.botao_contato {
  width: 30%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,40,196,1) 35%);
  margin: 0 1rem 0 1rem;
  color: #ffffffc9;
  cursor: pointer;
  border-radius: 15px;
  font-family: 'Charis SIL', serif;
  font-size: large;
}

.botao_contato:hover {
  transform: scale(1.1);
    transition: all 0.5s;
}

.botao_sobre {
  width: 30%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,40,196,1) 35%);
  color: #ffffffc9;
  cursor: pointer;
  border-radius: 15px;
  font-family: 'Charis SIL', serif;
  font-size: large;
}


.botao_projetos {
  width: 30%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,40,196,1) 35%);
  color: #ffffffc9;
  cursor: pointer;
  border-radius: 15px;
  font-family: 'Charis SIL', serif;
  font-size: large;
}


.botao_sobre:hover{
  transform: scale(1.1);
  transition: all 0.5s;
}

.botao_projetos:hover{
  transform: scale(1.1);
  transition: all 0.5s;
}

.container_projetos {
    display: none;
    justify-content: center;
    width: 100%;
}

.projetos {
    display: flex;
    position: absolute;
    color: green;
    animation: neon 1s ease-in-out infinite alternate;
}

.card_projeto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 55px 0 80px 20px;
    height: 100%;
    padding: 25px; 
    width: 100%;  
    color: aliceblue;
}

.container_habilidades {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.titulo_habilidades {
    display: flex;
    position: absolute;
    color: green;
    animation: neon 1s ease-in-out infinite alternate;
}

.card_habilidades {
    display: flex;
    justify-content: center;
    color: aliceblue;
     
}

.icon_html {
    display: flex;
    justify-content: center;
    flex-direction:row;
    padding: 20px;
    margin: 55px 0 80px 20px;
    font-weight: 900;
    width: 20%;
    height: 20%;
    color: aliceblue;
    --c: #c17a10; 
    --b: .1em;    
    --d: 20px;    
    
    --_s: calc(var(--d) + var(--b));
    
    color: var(--c);
    border: solid #0000;
    border-width: var(--b) var(--b) var(--_s) var(--_s);
    background:
        conic-gradient(at left var(--d)  bottom var(--d),
        #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
        conic-gradient(at left var(--_s) bottom var(--_s),
        #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
    transform: translate(calc(var(--d)/-1),var(--d));
    clip-path: 
        polygon(
        var(--d) 0%, 
        var(--d) 0%, 
        100% 0%, 
        100% calc(100% - var(--d)),
        100% calc(100% - var(--d)),
        var(--d) calc(100% - var(--d))
        );
    transition: 0.5s;
}

.icon_html:hover{
    transform: translate(0,0);
    clip-path: 
      polygon(
       0% var(--d), 
       var(--d) 0%, 
       100% 0%, 
       100% calc(100% - var(--d)), 
       calc(100% - var(--d)) 100%, 
       0% 100%
     );
  }
  

  .icon_css {
    display: flex;
    justify-content: center;
    flex-direction:row;
    padding: 20px;
    margin: 55px 0 80px 20px;
    font-weight: 900;
    width: 20%;
    height: 20%;
    color: aliceblue;
    --c: #1095c1; 
    --b: .1em;    
    --d: 20px;    
    
    --_s: calc(var(--d) + var(--b));
    
    color: var(--c);
    border: solid #0000;
    border-width: var(--b) var(--b) var(--_s) var(--_s);
    background:
        conic-gradient(at left var(--d)  bottom var(--d),
        #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
        conic-gradient(at left var(--_s) bottom var(--_s),
        #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
    transform: translate(calc(var(--d)/-1),var(--d));
    clip-path: 
        polygon(
        var(--d) 0%, 
        var(--d) 0%, 
        100% 0%, 
        100% calc(100% - var(--d)),
        100% calc(100% - var(--d)),
        var(--d) calc(100% - var(--d))
        );
    transition: 0.5s;
}

.icon_css:hover{
    transform: translate(0,0);
    clip-path: 
      polygon(
       0% var(--d), 
       var(--d) 0%, 
       100% 0%, 
       100% calc(100% - var(--d)), 
       calc(100% - var(--d)) 100%, 
       0% 100%
     );
  }
  

  .icon_js {
    display: flex;
    justify-content: center;
    flex-direction:row;
    padding: 20px;
    margin: 55px 0 80px 20px;
    font-weight: 900;
    width: 20%;
    height: 20%;
    color: aliceblue;
    --c: #c1be10; 
    --b: .1em;    
    --d: 20px;    
    
    --_s: calc(var(--d) + var(--b));
    
    color: var(--c);
    border: solid #0000;
    border-width: var(--b) var(--b) var(--_s) var(--_s);
    background:
        conic-gradient(at left var(--d)  bottom var(--d),
        #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
        conic-gradient(at left var(--_s) bottom var(--_s),
        #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
    transform: translate(calc(var(--d)/-1),var(--d));
    clip-path: 
        polygon(
        var(--d) 0%, 
        var(--d) 0%, 
        100% 0%, 
        100% calc(100% - var(--d)),
        100% calc(100% - var(--d)),
        var(--d) calc(100% - var(--d))
        );
    transition: 0.5s;
}

.icon_js:hover{
    transform: translate(0,0);
    clip-path: 
      polygon(
       0% var(--d), 
       var(--d) 0%, 
       100% 0%, 
       100% calc(100% - var(--d)), 
       calc(100% - var(--d)) 100%, 
       0% 100%
     );
  }
  

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0px;
    background-color: #8a2be2;
}

footer a {
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1px;
    width: 50%; 
    font-weight: 800;
    justify-content: center;
}

@keyframes move {
    100% {
        transform: translate(94rem);
    }
}

.wrapper {
    animation: move 8s infinite linear;
    width: 100%;
}

@keyframes stomp {
    0%,
    70%,
    100% {
        transform: rotate();
    }
    60% {
        transform: translateY(25%) rotate(-6deg);
    }
}

.mario {
    animation: stomp 1s infinite;
    height: 100px;
}


figure.snip0015 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 15px;
    min-width: 380px;
    max-width: 500px;
    max-height: 300px;
    width: 100%;
    background: #000000;
    text-align: center;
  }
  figure.snip0015 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  figure.snip0015 img {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  figure.snip0015 figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3em 3em;
    width: 100%;
    height: 100%;
  }
  figure.snip0015 figcaption::before {
    position: absolute;
    top: 50%;
    right: 30px;
    bottom: 50%;
    left: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
  figure.snip0015 h2,
  figure.snip0015 p {
    margin: 0 0 5px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
  }
  figure.snip0015 h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-transform: translate3d(0%, 50%, 0);
    transform: translate3d(0%, 50%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.snip0015 h2 span {
    font-weight: 800;
  }
  figure.snip0015 p {
    font-weight: 200	;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  figure.snip0015 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
  }
  figure.snip0015:hover img {
    opacity: 0.35;
  }
  figure.snip0015:hover figcaption h2 {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.snip0015:hover figcaption p {
    opacity: 0.9;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
  figure.snip0015:hover figcaption::before {
    background: rgba(255, 255, 255, 0);
    top: 30px;
    bottom: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }